.section-title {
  .title {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $color_dark;
    @include media(772) {
      line-height: unset;
      font-size: 30px;
    }
  }
  .prag {
    color: $color_gray;
    font-size: 20px;
    font-weight: 300;
    padding-top: 24px;
    max-width: 48%;
    @include media(992) {
      max-width: 100%;
      font-size: 16px;
    }
  }
}
