.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

%cursors-item {
  cursor: url("../imgs/Cursors.svg") 4 12, auto;
}

%between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
